<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543739011560-lkc9cpv93a4cpvg4cqbdvj3m0r6tlumj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543739011560-lkc9cpv93a4cpvg4cqbdvj3m0r6tlumj</string>
	<key>API_KEY</key>
	<string>AIzaSyAIpa0230P_rPkGWwzsDQkua6HPfyqfZMU</string>
	<key>GCM_SENDER_ID</key>
	<string>543739011560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authTest</string>
	<key>PROJECT_ID</key>
	<string>farwell-interview</string>
	<key>STORAGE_BUCKET</key>
	<string>farwell-interview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543739011560:ios:2ac353aecf895f1363845d</string>
</dict>
</plist>